body {
    margin: 0 !important;
    div {
        display: flex;
        width: 100%;
    }
    a {
        text-decoration: none;
    }

    .main-layout {
        flex-flow: column;
        height: 100vh;
    }
}